{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}

 
<div class="p-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <h3 class="card-title">Selary</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                
                <th>Name</th>
                <th>possition</th>
                <th>salary</th>
                <th>absent</th>
                <th>total_salary</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>

              {% for obj in e_Paroll %}
              <tr>
                
                <td>{{obj.name}}</td>
                <td>{{obj.possition}}</td>
                <td>{{obj.salary}}</td>
                <td>{{obj.absent}}</td>
                <td>{{obj.total_salary}}</td>
                <td>{{obj.action}}</td>
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
</div>
</div>


{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}