{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}

<div>
    <div class="d-flex justify-content-end p-5">
          <button type="button" class="btn btn-outline-warning  "><i class="fas fa-plus-square"> </i>  Add Employee</button>
    </div>
    <div class="row">
        <div class="col-md-2">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                      </div>
                      <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                      </div>
                  
                    </div>
                    <!-- /.widget-user -->
        </div>
        <div class="col-md-2">
                  <!-- Widget: user widget style 1 -->
                  <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-info">
                      <h3 class="widget-user-username">Alexander Pierce</h3>
                      <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                    </div>
                    <div class="widget-user-image">
                      <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                    </div>
                
                  </div>
                  <!-- /.widget-user -->
        </div>
        <div class="col-md-2">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                      </div>
                      <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                      </div>
                  
                    </div>
                    <!-- /.widget-user -->
          </div>


        

  </div>

</div>
{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}