{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}

<div class="container p-3">
    <div class=" card p-3" >

      
            <div class="row">

                <div class="col-5">
                    <div class=" text-center">
                        <img class="card-profile-img w-100" src="{{ Pro.img.url }}" alt="img">
                        <h3 class="mb-1 ">{{ Pro.name }}</h3>
                        <p class="mb-2 ">{{ Pro.possition }}</p>
                      
                    </div>>
                </div>
                <div class="col-3">
                    <ul style="list-style: none;">
                        <li>phone no:</li>
                        <li>ID:</li>
                        <li>Tel:</li>
                        <li>Birthday:</li>
                        <li>Address:</li>
                        <li>Gender:</li>
                    </ul>
 

                </div>
                <div class="col-4">
                    <ul style="list-style: none;">
                        <li>016859....</li>
                        <li>01</li>
                        <li>752156</li>
                        <li>11-10-1994</li>
                        <li>1861 Bayonne Ave, Manchester Township, NJ, 08759</li>
                        <li>Male</li>
                    </ul>

                </div>
        
            </div>
       

    </div>

</div>
<div class="card-group mx-5">
    <div class="card p-2 m-3">
      <div class="card-body">
          <h3>Personal Informations</h3>
          <div class="row">
              <div class="col-6">
                  <ul style="list-style: none;">
                       <li>Passport No:</li>
                       <li>Passport Exp Date:</li>
                       <li>Tel:</li>
                       <li>Nationality:</li>
                       <li>Religion:</li>
                       <li>Marital status:</li>
                   </ul>

              </div>
              
              <div class="col-6">
                <ul style="list-style: none;">
                    <li>9876543210</li>
                    <li>9876543210</li>
                    <li>9876543210</li>
                    <li>Bangladeshi</li>
                    <li>Muslim</li>
                    <li>Married</li>
                </ul>

              </div>

          </div>
        
      </div>
    </div>

    <div class="card p-2 m-3" >
      <div class="card-body">
          <h3>Emergency Contact</h3>
          <div class="row">
           
                <div class="col-6" >
                   <ul style="list-style: none;">
                    <h5>Primary</h5>
                       <li>Name:</li>
                       <li>Relationship:</li>
                       <li>Phone:</li>
                   </ul>
    
                </div>
                <div class="col-6">
                   
                    <ul style="list-style: none;">
                        <h5></h5>
                        <li>Joni</li>
                        <li>Father</li>
                        <li>018574657.. , 01257.....</li>
                    </ul>
         
                </div>
            
            
            </div>
        </div>
   
    </div>  
</div>  


{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}