{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}

<div class=" p-3">
    <div class=" card p-5" >

      
            <div class="row">

                <div class="col-5">
                    <img src="" alt="">
                    <h3>Jone</h3>
                    <h5>Admin</h5>
                </div>
                <div class="col-1">
                    <h5>phone no:</h5>
                    <h5>ID:</h5>
                    <h5>Birthday:</h5>
                    <h5>Address:</h5>
                    <h5>Gender:</h5>

                </div>
                <div class="col-5">
                    <h5>016859....</h5>
                    <h5>01</h5>
                    <h5>11-10-1994</h5>
                    <h5>1861 Bayonne Ave, Manchester Township, NJ, 08759</h5>
                    <h5>Male</h5>

                </div>
        
            </div>
       

    </div>

</div>
<div class="card-group">
    <div class="card p-2 m-3">
      <div class="card-body">
          <h3>Personal Informations</h3>
          <div class="row">
              <div class="col-6">
                  <h5>Passport No:</h5>
                  <h5>Passport Exp Date:</h5>
                  <h5>Tel:</h5>
                  <h5>Nationality:</h5>
                  <h5>Religion:</h5>
                  <h5>Marital status:</h5>

              </div>
              <div class="col-6">
                  <h5>9876543210</h5>
                  <h5>9876543210</h5>
                  <h5>9876543210</h5>
                  <h5>Bangladeshi</h5>
                  <h5>Muslim</h5>
                  <h5>Married</h5>

              </div>

          </div>
        
      </div>
    </div>

    <div class="card p-2 m-3">
      <div class="card-body">
          <h3>Emergency Contact</h3>
          <div class="row">
            
                <div class="col-6">
                    <h5>Primary</h5>
                    <h5>Name:</h5>
                    <h5>Relationship:</h5>
                    <h5>Phone:</h5>
                    
    
                </div>
                <div class="col-6">
                    <h5>Primary</h5>
                    <h5>Joni</h5>
                    <h5>Father</h5>
                    <h5>018574657.. , 01257.....</h5>
                    
    
                </div>
            
                <div class="col-6">
                    <h5>Secondary</h5>
                    <h5>Name:</h5>
                    <h5>Relationship:</h5>
                    <h5>Phone:</h5>
                    
    
                </div>
                <div class="col-6">
                    <h5>Secondary</h5>
                    <h5>Sania</h5>
                    <h5>Mother</h5>
                    <h5>018574657.. , 01257.....</h5>
                    
    
                </div>
            
            </div>
        </div>
   
</div>  
</div>  


{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}