{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}

  <div class="container pt-2 ">
    <div class="card bg-danger mx-auto text-center p-3 " style="max-width:30rem;" >
      <div class="card-header">Timesheet For Today</div>
      <div class="card-body">
        
         <h6>Punch In at</h5>
          <p>Wed, 11th Mar 2019 10.00 AM</p>
          <div class="text-center -4my-4"> <a href="#" class="btn btn-warning">Punce Out</a> </div>
        
       </div>
     </div>   
  </div>
 

  

<div class="px-5">

  <div class="card m-3 p-2">

   <h3>Attendance</h3>

   <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Punce In</th>
        <th>Punch Out</th>
        <th>Production</th>
        <th>Break</th>
        
      </tr>
    </thead>
    <tbody>
      {% for obj in Attend %}
      <tr>
        <td>{{ obj.id }}</td>
        <td>{{ obj.date }}</td>
        <td>{{ obj.punch_in}}</td>
        <td>{{obj.punch_out}}</td>
        <td>{{obj.production}}</td>
        <td>{{obj.time_of_break}}</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>


{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}