{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}


<div class="card m-3 p-2">

  <h3>Attendance</h3>

  <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Punce In</th>
        <th>Punch Out</th>
        <th>Production</th>
        <th>Break</th>
        <th>Overtime</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>11-7-2021</td>
        <td>10 AM</td>
        <td>7 pm</td>
        <td>9 hrs</td>
        <td>1 hrs</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
        <td>11-7-2021</td>
        <td>10 AM</td>
        <td>7 pm</td>
        <td>9 hrs</td>
        <td>1 hrs</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
        <td>11-7-2021</td>
        <td>10 AM</td>
        <td>7 pm</td>
        <td>9 hrs</td>
        <td>1 hrs</td>
        <td>0</td>
      </tr>
    
    </tbody>
  </table>

</div>


{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}