{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}

<div class="px-5">

  <div class="card m-3 p-2">

   <h3>Applying Traning</h3>

   <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th>Name</th>
        <th>Possition</th>
        <th>Course_name</th>
        <th>Applying_date</th>
        <th>Status</th>
        
      </tr>
    </thead>
    <tbody>
      {% for obj in a_Traning %}
      <tr>
        <td>{{ obj.Name }}</td>
        <td>{{ obj.Possition }}</td>
        <td>{{ obj.Course_name}}</td>
        <td>{{obj.Applying_date}}</td>
        <td>{{obj.Status}}</td>
        
        
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>


{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}