{% extends 'adminlite/adminlite.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}

{% endblock %}

{% block content %}


<main>
{% load static %}
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {% for obj in  Traning %}

            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{obj.img.url}}" class="card-img-top" alt="...">
                     <p>{{obj.time}}</P>
                    <div class="card-body">
                        <h5>{{obj.title}}</h5>
                        <p>{{ obj.discription|linebreaks|truncatechars:80 }}</p>


                        <br>
                        <div class="text-center -4my-4"> <a href="#" class="btn btn-warning">Apply</a> </div>
                    </div>
                </div>
            </div>
        {% endfor %}
   
        </div>
    </div>
</main>

{% endblock %}



{% block scripts %}
  {{ block.super }}
{% endblock %}